.mapboxArea {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

#map {
  height: 90%;
  width: 95%;
}

.card {
  border-radius: 25px 25px 25px 25px;
  padding: 20px;
}

#submitBtn {

}